<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>

        This is the homepage.
    </body>

</html>